.primary-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: "editor preview";
  height: 100vh;
}

.editor-container {
  display: grid;
  grid-template-rows: auto auto;
  height: 100vh;
}

.ecert-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.75rem;
}

#templateBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1rem solid #1c3843;
}

.handle {
  display: inline-block;
  position: absolute;
}

.recipient-name {
  margin: 0;
}

.recipient-name:hover {
  cursor: move;
}

.date {
  margin: 0;
}

.date:hover {
  cursor: move;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* NOTE: Width is based on the width of the expanded SideNavBar component */
.tool-menu {
  height: 100vh;
  width: 16vw;
  background-color: #1c3843;
}

.certinize-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-template-btn-container {
  width: 20%;
  display: flex;
  gap: 0.9375rem;
}

.edit-template-action-area {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2.5rem;
}

@media screen and (max-width: 600px) {
  .tool-menu {
    height: 37.5rem;
  }
}

@media screen and (max-width: 768px) {
  .tool-menu {
    height: 48rem;
  }
}

@media screen and (max-width: 992px) {
  .tool-menu {
    height: 62rem;
  }
}

@media screen and (max-width: 1200px) {
  .tool-menu {
    height: 75rem;
  }
}
