.button {
  background-color: rgb(26, 121, 157);
  border: 1px solid rgba(26, 122, 157, 0);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: large;
  padding: 1em;
  transition: 0.2s;
  width: 10%;
}

.button:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(26, 121, 157);
  color: rgb(26, 121, 157);
  cursor: pointer;
}
