.colCertThumbnailContainer {
  display: grid;
  margin: 2.25rem;
}

.imageSource {
  height: auto;
  width: 18.75rem;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.3125rem 0.9375rem;
}

.imageSource:hover {
  height: auto;
  width: 18.75rem;
  transform: scale(1.3);
}
