@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Lato&family=Montserrat:ital,wght@0,300;0,400;0,700;1,700&family=Plus+Jakarta+Sans:ital,wght@0,700;1,400&family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,600;1,700&family=Ubuntu&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.container {
  width: 483px;
  height: 200px;
  margin-top: 200px;
  margin-left: 440px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
}

.overlay {
  border-radius: 15px;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
}

.definition {
  font-size: 20px;
  font-weight: bold;
  font-family: "Helvetica";
  padding: 45px;
  color: #1a799d;
}

.buttonBtn {
  margin-top: -15px;
}

.transferbtn {
  height: 40px;
  width: 135px;
  border-radius: 13px;
  border: none;
  color: white;
  margin: 0 10px;
  margin-left: 5px;
  background-color: #1a799d;
  font-family: "Helvetica";
  font-size: 15px;
}

.cancelbtn {
  height: 40px;
  width: 135px;
  border-radius: 13px;
  border-color: grey;
  background-color: white;
  font-family: "Helvetica";
  font-size: 15px;
}
