.col-cert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 3.75rem 3.75rem 0 3.75rem;
}

.col-cert-upload-btn {
  width: 18.75rem;
  align-self: flex-end;
}

.col-cert-upload-btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 0.625rem;
}

.col-cert-template-container {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4);
  grid-gap: 40px;
  width: 90%;
}

.certi {
  height: auto;
  width: 18.75rem;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.3125rem 0.9375rem;
}

.certi:hover {
  height: auto;
  width: 18.75rem;
  transform: scale(1.3);
}
