.wallet-adapter-modal-container {
  height: 100% !important;
  margin: 0 !important;
}

.wallet-adapter-modal-wrapper {
  background-color: #1a799d !important;
}

.wallet-adapter-modal-button-close {
  background-color: #1c3843 !important;
}

.wallet-adapter-button {
  font-size: 1.25rem !important;
}

.wallet-adapter-button:hover {
  background-color: #1c3843 !important;
  color: #fff !important;
}

.wallet-adapter-button-trigger {
  font-family: inherit !important;
  background-color: rgb(255, 255, 255) !important;
  border-color: #1c3843 !important;
  border-style: solid !important;
  border-width: 0.0625rem !important;
  border-radius: 0.0625rem;
  color: #1c3843 !important;
  transition: 0.2s;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet-adapter-button-trigger:hover {
  background-color: #1c3843 !important;
  color: #fff !important;
}

.wallet-adapter-button[disabled] {
  background-color: #5c7a87 !important;
  border-color: #1c3843 !important;
  color: #ffff !important;
}

.wallet-adapter-dropdown-list {
  background-color: #1c3843 !important;
}

.wallet-adapter-dropdown-list-item:hover {
  background-color: #5c7a87 !important;
}
