.upload-container {
  margin: 0;
  width: 50rem;
  background-color: #5c7a87;
  padding: 2.5rem 2.5rem;
  display: block;
}

.upload-cert-input-file {
  display: none;
}

.upload-container:hover {
  cursor: pointer;
}

.dashed-line {
  border: dashed 0.25rem #ffff;
  padding: 2.5rem 2.5rem;
}

.upload-btn {
  display: flex;
  justify-content: center;
}

.upload-cert-instruction-btn {
  display: flex;
  justify-content: center;
  gap: 0.9375rem;
  align-items: center;
  text-align: center;
  background-color: #ffff;
  color: #0d4b65;
  text-decoration: none;
  border: 0.125rem solid transparent;
  padding: 0.625rem 1.25rem;
  border-radius: 1.875rem;
  transition: 0.4s;
  width: 25rem;
  font-size: 1.25rem;
}

.upload-cert-button-set {
  width: 25rem;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 0.9375rem;
}

.upload-cert-upload-btn {
  width: 60%;
  align-self: flex-end;
}

.upload-cert-upload-btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 0.625rem;
}

.upload-cert-cancel-btn {
  width: 40%;
}

.header {
  margin-top: 1.25rem;
  text-align: center;
  font-size: 2rem;
  color: #0d4b65;
  font-weight: bold;
  text-transform: uppercase;
}

.file-preview {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  border-radius: 0.9375rem;
  margin-top: 1.875rem;
}

.file-array {
  color: #ffff;
  margin: 0.625rem;
  font-size: 1.5625rem;
}

.certificate-file {
  margin: 1.25rem 6.25rem;
  height: auto;
  width: 15.625rem;
}

.delete {
  border: solid transparent;
  color: #ffff;
  background-color: #b70b0b;
  border-radius: 0.3125rem;
  padding: 0.625rem 0.9375rem;
  transition: all 0.2s;
  font-size: 1.4375rem;
  text-align: end;
}

.delete:hover {
  border: solid #b70b0b;
  color: #b70b0b;
  transition: 0.2s;
  background-color: #fff;
}

.button {
  padding: 0.625rem 0.9375rem;
  border: none;
  border-radius: 0.625rem;
  color: #ffff;
  width: 70%;
}

.upload-cert-content {
  display: flex;
  flex-direction: column;
  margin: 3.75rem 3.75rem 0 3.75rem;
}
