@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Lato&family=Montserrat:ital,wght@0,300;0,400;0,700;1,700&family=Plus+Jakarta+Sans:ital,wght@0,700;1,400&family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,600;1,700&family=Ubuntu&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.title{
    margin-left: 25px;
    font-size: 45px;
    color: #0D4B65;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}
.info-message{
    background-color: #EFEFEF;
    
}
.info-container{
    width: 60%;
    margin: 0 auto;
}
.uploadContainer{
    margin: 0 auto;
    width: 70%;
    background-color: #5C7A87;
    padding: 40px 40px;
    display: block;
}
.dashed-line{
    border: dashed 4px #ffff;
    padding: 40px 40px;
}
.uploadBtn{
    display: flex;
    justify-content: center;
}
input[type='file']{
    display: none;
  }
label {
    text-align: center;;
	background-color: #ffff;
	color: #0D4B65;
	text-decoration: none;
	border: 2px solid transparent;
	padding: 10px 30px;
	border-radius: 30px;
	transition: .4s; 
    width: 30%;
}
label:hover{
    font-weight: bold;
    font-size: 20px;
    color: #F15412;
    width: 40%;
    padding: 20px;;
    cursor: pointer;
}


.submit{
    background-color: #1A799D;
    border: none;
    padding: 10px 20px;
    color: #ffff;
    border-radius: 10px;
}
.buttonSet{
    display: flex;
    float: right;
    margin: 30px;
    gap: 30px;

}
.button{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    color: #ffff;
    width: 70%;
}
.ctn{
    background-color: #1A799D;
    top: 0
}
.cancel{
    color: rgb(0, 0, 0);
    border: solid 1px black;;
    background-color: #ffff;
}
.ctn:hover{
    transform: scale(1.3);
	transition: .3s;
}
.cancel:hover{
    transform: scale(1.3);
	transition: .3s;
    background-color: #B70B0B;
    color: #ccc;
}