.navbar-icon {
  margin-top: 0rem;
  margin-right: 0.625rem;
  font-size: 1.25rem;
}

.navbar {
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  top: 0;
  background-color: #1c3843;
}


 .navbar {
	position: fixed;
	z-index: 4;
	left: 0;
	right: 0;
	top: 0;
	background-color: #1C3843;
}
.navbar-logo {
	float: left;
	display: flex;
	padding-left: 25vh;
	align-items: center;
	font-size: 24px;
	color: #fff;
  	gap: 10px;
}

.navbar-logo img{
  height: auto;
  width: 40px;
}
 .navbar-link {
	padding: 0;
	margin: 0 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
 .navbar-link li{
	list-style: none;
	display: flex;
	align-items: center;;
}
 .navbar-link a {
	display: flex;
	padding: 1rem;
	font-size: 1rem;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
  	margin-left: 20px;
	border-radius: 10px;
	text-align: center;
  
}
 .navbar-link li a:hover{
  background-color: white;
  color: #1C3843;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: -10px;
}

 .user-profile{
  display: flex;
  padding: 1.25rem;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  gap: 0.625rem;
}

.navbar-logo img {
  height: auto;
  width: 2.5rem;
}

.navbar-link {
  padding: 0;
  margin: 0;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-link li {
  list-style: none;
  transition: 0.3s;
}

.navbar-link a {
  display: flex;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-left: 1.25rem;
  border-radius: 0.625rem;
  text-align: center;
  align-items: center;
  transition: 0.3s;
}

.navbar-link li a:hover {
  background-color: white;
  color: #1c3843;
  font-weight: bold;
  transition: 0.3s;
}

.user-icon {
  height: auto;
  width: 3.125rem;
  margin-right: 1.875rem;
  margin-left: 1.25rem;
}

.user-icon:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}

#nav-toggle {
  position: absolute;
  top: -6.25rem;
}

.icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.icon-burger .line {
  width: 1.875rem;
  height: 0.3125rem;
  background-color: #fff;
  margin: 0.3125rem;
  border-radius: 0.1875rem;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .logo {
    float: none;
    width: auto;
    justify-content: center;
  }

  .navbar-link {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }

  .navbar-link a {
    font-size: 1.25rem;
  }

  .user-icon:hover {
    transform: rotate(360deg);
    transition: 0.5s;
  }

  :checked ~ .navbar-link {
    bottom: 0;
  }

  .icon-burger {
    display: block;
  }

  :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(0.625rem) rotate(225deg);
  }

  :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-0.625rem) rotate(-225deg);
  }

  :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}
