
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';

}
.navbar{
    display: flex;
    align-items: center;
    color: white;
    background-color: #121f24;
}
.nav-header{
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo{
    height: auto;
    width: 40px;
}
.certinize{
    font-size: 25px;
}
ul{
    list-style-type: none;
    align-content: center;
}
li{
    float: right;
}
li a{
    height: 100%;
    display: flex;
    color: white;
    padding: 16px 30px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50px;
}
.icon{
    margin-top: 6px;
    margin-right: 10px;
    font-size: 20px;

}
li a:hover{
    background-color: white;
    color: #1C3843;
    font-weight: bold;
    border-radius: 50px;
    transition: ease 0.2s;
}
.profile-display {
    gap: 20px;
}
span{
    display: block;
}
.name{
    font-size: 18px;
    font-weight: 500;
}
.user-icon{
    height: auto;
    width: 50px;
    margin-right: 30px;
}
.profile-display:hover{
    height: auto;

}
.name-block{
    display: block;
}

.user-icon:hover + .profile-display ul {
    visibility: visible;
}

.profile-display ul{
    visibility: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #1C3843;
    position: absolute;
    left: 85%;
    top: 65px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
}

.profile-icon{
    height: auto;
    width: 50px;
}

.profile-display ul li{
    border-radius: 12px;
    background-color: #1C3843;
    padding: 20px;
    list-style: none;
    list-style-type: none;
    transition-delay: ease-out .4s;
    box-shadow: -10px 10px 0px #38ADD9;
}

.profile-display button{
    border-radius: 12px;
    border: none;
    color: #ffff;
    background-color: #38ADD9;
    padding: 5px 30px;
    border: solid 2px #38ADD9;
}

.profile-display button:hover{
    background-color: transparent;
    color: #38ADD9;
    border-radius: 12px;
    padding: 5px 30px;
    border: solid 2px #38ADD9;
}


.profile-display .profile-name{
    padding-top: 20px;
}
.profile-display ul li p{
    color: #ffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 0;
}

.profile-display ul li:hover{
    visibility: visible;
    opacity: 1;
}
