@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Lato&family=Montserrat:ital,wght@0,300;0,400;0,700;1,700&family=Plus+Jakarta+Sans:ital,wght@0,700;1,400&family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,600;1,700&family=Ubuntu&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.content {
    display: flex;
    flex-direction: column;
}

/* Calc values are based on the width of the SideNavBar */
/* We have to add a transition property here to slow things down */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100vw - 300px);
    transition: 0.4s;
}

.main-content-NX {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    width: calc(100vw - 85px);
    transition: 0.4s;
}

/* vertically and horizontally center content */
/* max width and height */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.success-box {
    margin-top: 5%;
    display: flex;
    align-items: center;
}

.logo-container {
    margin: 0 auto;
    ;
}

.logo {
    height: auto;
    width: 300px;
}

.check {
    margin-top: 250px;
    height: 50px;
    width: 50px;
}

.msg {
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    color: #A0A0A0;
}

.return-btn {
    width: 25%;
    padding: 15px 15px;
    border: none;
    background-color: #1A799D;
    border: 1px solid rgba(26, 122, 157, 0);
    color: #ffff;
    border-radius: 10px;
    transition: .5s;
    font-size: large;
    margin: 5% auto;
}

.return-btn:hover {
    background-color: transparent;
    border: 1px solid #1A799D;
    color: #1A799D;
    cursor: pointer;
}

.success-msg {
    display: flex;
    flex-direction: column;
}