* {
  margin: 0;
  padding: 0;
}

.main{
  display: block;
}

.background {
  background-image: url("bg layout.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.flex {
  display: flex;
  justify-content: center;
}

.cert-logo {
  height: auto;
  width: 300px;
  padding: 10px;
}

.certinize-title {
  text-align: center;
  padding: 25px;
  font-size: 50px;
  color: #0D4B65;
  font-weight: bold;
  text-shadow: 0.125rem 0.125rem #dbd9d9;
}

.text-title {
  text-align: center;
  font-weight: bold;
  padding: 1.5625rem;
  font-size: 1.875rem;
  color: #0d4b65;
}

.definition {
  text-align: justify;
  font-size: 1.125rem;
  line-height: 1.875rem;
  margin: 6.25rem;
  word-wrap: break-word;
}

.wrapper {
  text-align: center;
}

.title {
  font-weight: bold;
  color: #0d4b65;
}

.our_team {
  margin-top: 1.25rem;
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member {
  width: 15.625rem;
  height: 21.875rem;
  margin: 1.75rem;
  background: white;
  padding: 1.25rem 0.625rem;
  box-shadow: 0.625rem 0.625rem 0.3125rem rgb(181, 189, 192);
  border-radius: 1.875rem;
  transition: margin 0.2s ease-in-out;
}

.our_team .team_member .member_img {
  background: #a8abac;
  max-width: 11.875rem;
  width: auto;
  height: 10.625rem;
  margin: 0 auto;
  border-radius: 50%;
  padding: 0.125rem;
  cursor: pointer;
}

.our_team .team_member .member_img {
  width: auto;
  height: 10.625rem;
}

.our_team .team_member h3 {
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 1.5625rem;
  letter-spacing: 0.125rem;
  margin: 1.5625rem 0 0rem;
}

.our_team .team_member span {
  font-size: 0.9375rem;
}

.our_team .team_member p {
  margin-top: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.our_team .team_member:hover {
  margin-top: -1.75rem;
  cursor: pointer;
}

.aboutus-copyright{
  text-align: center;
}
