*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url('bg2.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.logo{
    height: auto;
    width: 350px;
}

.auth-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30vh;
    margin: 7vh;
    justify-content: center;
}

.certinize .pre-title{
    font-size: 3rem;
    color: #0D4B65;
    font-weight: 700;
    line-height: 3rem;
}

.certinize span{
    display: block;;
}

.title{
    font-size: 5rem;
    font-weight: bold;
    color: #0D4B65;
}

form{
    background-color: #ffffff;

}

.get-started{
    line-height: 50px;
    font-style: italic;
    color: #0D4B65;
}

.bold{
    font-weight: bold;
}

.span-get,  .span-bold{
    display: block;
}

.span-get{
    font-size: 60px;
    font-weight: bold;
}

.span-started{
    font-size: 35px;
}


.wallet-label{
    font-size: 20px;
    padding-bottom: 5px;
}

.ethereum-wallet-btn{
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 12px;
    align-items: center;
    width: 2vh;
    background-color: #ffff;

}