.authBackground {
  height: 100vh;
  overflow: hidden;
  color: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url("bg2.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  height: auto;
  width: 21.875rem;
}

.authContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10rem;
  margin-right: 7.5rem;
  justify-content: space-evenly;
  gap: 12.5rem;
}

.authWalletDiagContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.certinize .preTitle {
  font-size: 3rem;
  color: #0d4b65;
  font-weight: 700;
  line-height: 3rem;
}

.certinize span {
  display: block;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  color: #0d4b65;
}

.getStarted {
  width: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 3.125rem;
  font-style: italic;
  color: #0d4b65;
  gap: 0.5rem;
}

.authGetTxt {
  font-size: 4.75rem;
  font-weight: bold;
}

.authStartedTxt {
  font-size: 2.25rem;
  font-weight: normal;
  margin-left: 0.5rem;
  margin-bottom: 0;
  pointer-events: none;
}

.downloadPhantomLink {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1.25rem 0;
}

/* Responsive screen size breakpoints: <=600px, <=768px, <=992px, <=1200px */
@media screen and (max-width: 600px) {
  .authContainer {
    flex-direction: column;
    margin-top: 6.25rem;
    margin-right: 0;
    gap: 0;
  }

  .authWalletDiagContainer {
    justify-content: center;
  }

  .getStarted {
    flex-direction: row;
  }

  .authGetTxt {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .authContainer {
    flex-direction: column;
    margin-top: 6.25rem;
    margin-right: 0;
    gap: 0;
  }

  .authWalletDiagContainer {
    justify-content: center;
  }

  .getStarted {
    flex-direction: row;
  }

  .authGetTxt {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 992px) {
  .authContainer {
    flex-direction: column;
    margin-top: 6.25rem;
    margin-right: 0;
    margin: 0;
  }

  .authWalletDiagContainer {
    justify-content: center;
  }

  .getStarted {
    flex-direction: row;
  }

  .authGetTxt {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .authContainer {
    flex-direction: column;
    margin-top: 6.25rem;
    margin-right: 0;
    gap: 0;
  }

  .authWalletDiagContainer {
    justify-content: center;
  }

  .getStarted {
    flex-direction: row;
  }

  .authGetTxt {
    font-size: 2.5rem;
  }
}
