*{
    margin: 0;
    padding: 0;
  }

  .background {
    background-image: url('bg layout.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .flex{
    padding-top: 50px;
    display: flex;
    justify-content: center;
  }

  .cert-logo {
    height: auto;
    width: 300px;
    padding: 15px;

  }
  .certinize-title {
    text-align: center;;
    font-size: 70px;
    color: #0D4B65;
    font-weight: bold;
    text-shadow: 2px 2px #dbd9d9 ;
  }
  .text-title {
    text-align: center;
    font-weight: bold;
    padding: 25px;
    font-size: 30px;
    color: #0D4B65;
  }
  .definition {
    text-align: justify;
    font-size: 18px;
    line-height: 30px; 
    margin: 100px;
    word-wrap: break-word;
  }
  
  .wrapper{
    text-align: center;
  }
  
  .title{
    font-weight: bold;
    color: #0D4B65;
  }
  .our_team{
    margin-top: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .our_team .team_member{
  
    width: 250px;
    height: 350px;
    margin: 28px;
    background: white;
    padding: 20px 10px;
    box-shadow: 10px 10px 5px rgb(181, 189, 192);
    border-radius: 30px;
    transition: margin 0.2s ease-in-out;
  }
  
  .our_team .team_member .member_img{
    background: #a8abac;  
    max-width: 190px;
    width: auto;
    height: 170px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
  }
  
  .our_team .team_member .member_img{
    width: auto;
    height: 170px;
  }
  
  .our_team .team_member h3{
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 2px;
    margin: 25px 0 0px;

  }
  
  .our_team .team_member span{
    font-size: 15px;
  }
  
  .our_team .team_member p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
  }
  
.our_team .team_member:hover{
   margin-top: -28px;
   cursor: pointer;
  }