@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Lato&family=Montserrat:ital,wght@0,300;0,400;0,700;1,700&family=Plus+Jakarta+Sans:ital,wght@0,700;1,400&family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,600;1,700&family=Ubuntu&family=Work+Sans&display=swap");

form {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 48px;
  padding: 6px;
}

label {
  margin: 0;
  font-size: 17px;
}

table {
  table-layout: auto;
  width: 100%;
  align-content: center;
}

table p {
  font-weight: 100;
  font-style: italic;
  font-size: 16px;
}

th {
  color: #0d4b65;
}

td {
  color: #0d4b65;
}

tr {
  vertical-align: middle;
}

.user-table {
  margin-top: 20px;
  align-content: center;
  border: solid 1px #0d4b65;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 12px 15px;
  height: 60vh;
}

.button-set {
  display: flex;
  float: right;
  margin: 30px;
  gap: 30px;
}

.content-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.certinize-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.certinize-modal-body {
  width: 100%;

  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Helvetica";
  color: #1a799d;
}

.modal-btn-group {
  border-top: var(--bs-modal-header-border-width) solid
    var(--bs-modal-header-border-color);
  padding-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.btn-group-col {
  gap: 10px;
  width: 50%;
  display: flex;
  flex-direction: row;
}

.number-col {
  width: 10%;
}
