.main {
  margin-top: 3.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
}

.profile-page-avatar-container {
  display: flex;
  justify-content: center;
}

.user {
  /* margin-left: 30vh; */
}

.profile-page-avatar {
  height: auto;
  width: 12.5rem;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-text :nth-child(1) {
  font-weight: bold;
  font-size: 1.875rem;
}

.profile-text :nth-child(2) {
  font-style: italic;
}

.details .text {
  font-size: 1.0625rem;
  font-weight: bold;
  color: #a5a5a5;
  margin: 1rem;
}

.profile-page-form {
  width: 90%;
  padding: 1.25rem 2.5rem;
  border-radius: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
}

.profile-page-form label {
  width: 100%;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.25rem;
}

.profile-page-form p {
  padding: 0.625rem;
  text-overflow: ellipsis;
}

.profile-page-form p:hover {
  border-radius: 0.75rem;
  background-color: #f0f0f0;
}

.profile-get-verified-btn {
  width: 12.5rem;
  height: 2.5rem;
}

.profile-get-verified-btn-txt {
  font-size: 1.125rem !important;
}
