.main {
  margin-top: 3.75rem;
  display: flex;
  gap: 30vh;
}

.profile-page-avatar-container {
  display: flex;
  justify-content: center;
}

.user {
  margin-left: 30vh;
  display: block;
}

.profile-page-avatar {
  height: auto;
  width: 12.5rem;
}

.profile-text {
  margin-top: 1.875rem;
  text-align: center;
  line-height: 1.25rem;
  color: #1c3843;
}

.profile-text :nth-child(1) {
  font-weight: bold;
  font-size: 1.875rem;
}

.profile-text :nth-child(2) {
  font-style: italic;
}

.details .text {
  font-size: 1.0625rem;
  font-weight: bold;
  color: #a5a5a5;
}

.profile-page-form {
  width: 100%;
  padding: 1.25rem 2.5rem;
  border-radius: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
}

.profile-page-form label {
  width: 100%;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.25rem;
}

.profile-page-form p {
  padding: 0.625rem;
  text-overflow: ellipsis;
}

.profile-page-form p:hover {
  border-radius: 0.75rem;
  background-color: #f0f0f0;
}

.profile-page-return-btn {
  width: 200px;
}
