*{
    margin: 0;
    padding: 0;
    color: #1C3843;
}

header{
    background-image: url("bg layout.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header p{
    font-size: 45px;
    font-weight: 900;
    padding: 20px;
    font-style: italic;
    text-transform: uppercase;
}

.main{
    margin-top: 60px;
    display: flex;
    gap: 30vh;
    
}

.profile{
    display: flex;
    justify-content: center;
}

.user{
    margin-left: 30vh;
    display: block;;
}

.text-center {
    text-align: center;
}

input[type="submit"] {
    border: none;
    border-radius: 12px;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #38ADD9;
    color: #ffff;
    font-weight: bold;
    border: 2px solid #38ADD9;
    transition: .5s;
}

input[type="submit"]:hover{
    border-radius: 12px;
    width: 100%;
    background-color: transparent;
    color: #38ADD9;
    font-weight: bold;
    border: 2px solid #38ADD9;

}

img{
    height: auto;
    width: 200px;
}

.profile-text{
    margin-top: 30px;
    text-align: center;
    line-height: 20px;
    color: #1C3843;
}
.profile-text :nth-child(1){
    font-weight: bold;
    font-size: 30px;
}

.profile-text :nth-child(2){
    font-style: italic;
}

.details .text{
    font-size: 17px;
    font-weight: bold;
    color: #A5A5A5;
}

form{
    width: 100%;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form label{
    width: 100%;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

form p{
    padding: 10px;
    text-overflow: ellipsis;
}

form p:hover{
    border-radius: 12px;
    background-color: #F0F0F0;
}